<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hk2_scrolltop" frontName="hk2_scrolltop">
            <module name="HK2_ScrollTop" />
        </route>
    </router>
</config>