<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="HK2_ScrollTop::scrolltop" title="HK2 - Scroll Top" module="HK2_ScrollTop" sortOrder="43"
             action="adminhtml/system_config/edit/section/hk2_scrollTop_section1"
             resource="Magento_Backend::content" parent="HK2::root"/>
    </menu>
</config>
